<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxy.exoskeleton.mapper.InfoMapper">
    <resultMap id="BaseResultMap" type="com.wxy.exoskeleton.model.Info">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="weight" property="weight" jdbcType="DOUBLE"/>
        <result column="height" property="height" jdbcType="DOUBLE"/>
        <result column="legLength" property="legLength" jdbcType="DOUBLE"/>
        <result column="crotchWidth" property="crotchWidth" jdbcType="DOUBLE"/>
        <result column="isPatient" property="isPatient" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, gender, age, weight, height, legLength, crotchWidth, isPatient, type
    </sql>

    <select id="getInfoByPage" resultType="com.wxy.exoskeleton.model.AllInfo">
        select
        i.*,d.number,d.address,d.date
        from info i,detailedmsg d
        where i.id = d.uid
        <if test="info.name != null and info.name!=''">
            and name like concat('%',#{info.name},'%')
        </if>
        <if test="info.gender != null">
            and gender = #{info.gender}
        </if>
        <if test="info.age != null">
            and age = #{info.age}
        </if>
        <if test="info.weight != null">
            and height= #{info.weight}
        </if>
        <if test="info.height != null">
            and height= #{info.height}
        </if>
        <if test="info.legLength != null">
            and legLength= #{info.legLength}
        </if>
        <if test="info.crotchWidth != null">
            and crotchWidth= #{info.crotchWidth}
        </if>
        <if test="info.isPatient != null">
            and isPatient= #{info.isPatient}
        </if>
        <if test="info.type != null">
            and type= #{info.type}
        </if>
        <if test="page != null and size != null">
            limit #{page},#{size}
        </if>
    </select>

    <select id="findInfoByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from info
        limit #{page},#{size}
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from info
        where 1=1
        <if test="info.name != null and info.name!=''">
            and name like concat('%',#{info.name},'%')
        </if>
        <if test="info.gender != null">
            and gender = #{info.gender}
        </if>
        <if test="info.age != null">
            and age = #{info.age}
        </if>
        <if test="info.weight != null">
            and height= #{info.weight}
        </if>
        <if test="info.height != null">
            and height= #{info.height}
        </if>
        <if test="info.legLength != null">
            and legLength= #{info.legLength}
        </if>
        <if test="info.crotchWidth != null">
            and crotchWidth= #{info.crotchWidth}
        </if>
        <if test="info.isPatient != null">
            and isPatient= #{info.isPatient}
        </if>
        <if test="info.type != null">
            and type= #{info.type}
        </if>
    </select>

    <select id="findInfoByLength" resultType="com.wxy.exoskeleton.model.Info">
        select
        <include refid="Base_Column_List"/>
        from info
        where height = #{length,jdbcType=DOUBLE}
    </select>

    <update id="updateInfoByPrimaryKeySelective" parameterType="com.wxy.exoskeleton.model.AllInfo">
        update info
        <set>
        <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="gender != null">
            gender = #{gender,jdbcType=VARCHAR},
        </if>
        <if test="age != null">
            age = #{age,jdbcType=INTEGER},
        </if>
        <if test="weight != null">
            weight = #{weight,jdbcType=DOUBLE},
        </if>
        <if test="height != null">
            height = #{height,jdbcType=DOUBLE},
        </if>
        <if test="legLength != null">
            legLength = #{legLength,jdbcType=DOUBLE},
        </if>
        <if test="crotchWidth != null">
            crotchWidth = #{crotchWidth,jdbcType=DOUBLE},
        </if>
        <if test="isPatient != null">
            isPatient = #{isPatient,jdbcType=INTEGER},
        </if>
        <if test="type != null">
            type = #{type,jdbcType=VARCHAR},
        </if>
<!--        <if test="number != null">-->
<!--            number = #{number,jdbcType=VARCHAR},-->
<!--        </if>-->
<!--        <if test="address != null">-->
<!--            address = #{address,jdbcType=VARCHAR},-->
<!--        </if>-->
<!--        <if test="Date != null">-->
<!--            Date = #{Date,jdbcType=DATE},-->
<!--        </if>-->
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="addInfos">
        insert into info (name, gender, age, weight, height, legLength, crotchWidth, isPatient, type), detailedmsg (uid, number, address, date)
        values
        <foreach collection="list" separator="," item="allInfo">
            (#{allInfo.name,jdbcType=VARCHAR}, #{allInfo.gender,jdbcType=VARCHAR}, #{allInfo.age,jdbcType=INTEGER}, #{allInfo.weight,jdbcType=DOUBLE},
                    #{allInfo.height,jdbcType=DOUBLE}, #{allInfo.legLength,jdbcType=DOUBLE}, #{allInfo.cortchWidth,jdbcType=DOUBLE}, #{allInfo.isPatient,jdbcType=INTEGER}, #{allInfo.type,jdbcType=VARCHAR},
                    #{allInfo.id,jdbcType=INTEGER}, #{allInfo.number,jdbcType=INTEGER}, #{allInfo.address,jdbcType=VARCHAR}, #{allInfo.date,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    
    <insert id="addInfo" parameterType="com.wxy.exoskeleton.model.AllInfo">
        insert into info (name, gender, age, weight, height, legLength, crotchWidth, isPatient, type)
        values (#{allInfo.name,jdbcType=VARCHAR}, #{allInfo.gender,jdbcType=VARCHAR}, #{allInfo.age,jdbcType=INTEGER}, #{allInfo.weight,jdbcType=DOUBLE},
            #{allInfo.height,jdbcType=DOUBLE}, #{allInfo.legLength,jdbcType=DOUBLE}, #{allInfo.crotchWidth,jdbcType=DOUBLE}, #{allInfo.isPatient,jdbcType=INTEGER}, #{allInfo.type,jdbcType=VARCHAR}
            )
    </insert>

    <delete id="deleteInfoByPrimaryKey" parameterType="java.lang.Integer">
        delete from info
        where id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>